/*
 *	Description:    Base element stylesheet
 *	File:    		_root.scss
 *	Version:        1.0 - 17/11/2019
 *	Author :        Mucht
*/

html{
    font-family: $stackOpenSans;
    font-size: 10px;
}

body{
    @include fontSize($fontSizeNormal);
    background-color: $blueDark;
    background-image: $bodyGradient;
    color: $white;
}

h1, h2, h3, h4, h5, h6{
    font-family: $stackVollkorn;
}
h1{
    @include fontSize($fontSizeBigger);
    margin-bottom: $fontSizeBigger + rem;
}
h2{
    @include fontSize($fontSizeBig);
    margin-bottom: $fontSizeBig + rem;
}
h3{
    @include fontSize($fontSizeMedium);
    margin-bottom: $fontSizeMedium + rem;
}
h4{
    @include fontSize($fontSizeNormal);
    margin-bottom: $fontSizeNormal + rem;
    font-weight: $bold;
}

p{
    line-height: 1.3;
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
}

strong{
    font-weight: bold;
}

a{
    @include link();
}

input{
    @include fontSize($fontSizeNormal);
    @include size(100%);
	padding: 1rem;
	color: $white;
	background-color: $transparent;
	border: $mainBorder;
	border-top: 0;
	border-right: 0;
	border-radius: 0 0 0 0.5rem;
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $blueLight;
		opacity: 1; /* Firefox */
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color:$blueLight;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
		color: $blueLight;
	}
    &:focus{
        outline-offset: -2px;
        outline: 0.51rem auto $orange;
    }
}

// Change Autocomplete styles in Chrome
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: $mainBorder;
	border-top: 0;
	border-right: 0;
	border-radius: 0 0 0 0.5rem;
    -webkit-text-fill-color: $white;
    -webkit-box-shadow: 0;
    transition: background-color 5000s ease-in-out 0s;
}

// Main classes
.app_container{
    @include flexCol(stretch, stretch);
    min-height: 100vh;
}