/*
 *	Description:    Main stylesheet
 *	File:    		    app.scss
 *	Version:        1.0 - 17/11/2019
 *	Author :        Mucht
*/

@mixin fontSize(
    $sizeValue: $fontSizeNormal,
) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

@mixin text(
    $fontSize: $fontSizeNormal,
    $fontWeight: normal,
    $color: $white,
    $transform: "",
    $decoration: "",
) {
    @include fontSize($fontSize);
    font-weight: $fontWeight;
    color: $color;
    text-transform: $transform;
    text-decoration: $decoration;
}

@mixin flexBox(
    $direction: row,
    $justityContent: flex-start,
    $alignItems: flex-start,
    $wrap: noWrap,
) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justityContent;
    align-items: $alignItems;
}

@mixin flexRow(
    $justityContent: flex-start,
    $alignItems: flex-start,
    $wrap: no-wrap,
) {
    @include flexBox(row, $justityContent, $alignItems, $wrap);
}

@mixin flexCol(
    $justityContent: flex-start,
    $alignItems: flex-start,
    $wrap: no-wrap,
) {
    @include flexBox(column, $justityContent, $alignItems, $wrap);
}

@mixin containerVerticalSpacer() {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@mixin containerLateralSpacer() {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@mixin containerFullSpacer() {
    @include containerVerticalSpacer();
    @include containerLateralSpacer();
}

@mixin size(
    $width,
    $height: $width,
) {
    width: $width;
    height: $height;
}

@mixin link(
    $color: $blueLighter,
    $hoverColor: $white,
) {
    @include fontSize($fontSizeNormal);
    color: $color;
    text-decoration: none;
    outline: 0;
    transition: $mainTrans;
    &:hover{
        color: $hoverColor;
        text-decoration: none;
    }
    &:focus{
        outline-offset: -2px;
        outline: 0.51rem auto $orange;
    }
}

@mixin buttonStyle(
    $color: $blueDarker,
    $borderColor: $orange,
    $backgroundColor: $orange,
    $colorHover: $blueDarker,
    $borderColorHover: $white,
    $backgroundColorHover: $white,
) {
    @include flexRow(center, center);
    @include fontSize($fontSizeNormal);
    @include size(auto);
    font-family: $stackOpenSans;
    padding: 0.5rem 1rem;
    color: $color;
    border: 0.1rem;
    border-style: solid;
    border-color: $borderColor;
    border-radius: 0.5rem;
    background-color: $backgroundColor;
    transition: $mainTrans;
    line-height: 1.3;
    cursor: pointer;
    & svg{
        @include size(2rem);
        margin-right: 0.5rem;
        & path,
        & rect,
        & circle {
            fill: $color;
        }
    }
    &:hover{
        color: $colorHover;
        border-color: $borderColorHover;
        background-color: $backgroundColorHover;
    }
}

@mixin beforeDropdown (
    $color: $blueDark,
    $right: 1.5rem,
) {
    &::before{
        content: '';
        position: absolute;
        top: -2rem;
        right: $right;
        display: block;
        width: 0;
        height: 0;
        border: 1rem solid transparent;
        border-bottom-color: $color;
    }
}

@mixin dropdown (
    $backgroundColor: $blueDark,
) {
    @include flexCol();
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0.5rem;
    background-color: $backgroundColor;
    box-shadow: $mainShadow;
    transition: $mainTrans;
    @include beforeDropdown($backgroundColor);
}

@mixin dropdownItem (
    $color: $blueLighter,
    $hoverColor: $white,
) {
    @include link($color, $hoverColor);
    width: 100%;
    padding: 1rem;
    &:hover {
        background-color: $blueDarker;
    }
}

@mixin box () {
    border-radius: 0.5rem;
    padding: 2rem;
}