/*
 *	Description:    stylesheet for layouts auth
 *	File:    		_auth.scss
 *	Version:        1.0 - 02/12/2019
 *	Author :        Mucht
*/

.auth{
	&_container{
		@include flexCol(flex-start, center);
	}
	&_form{
		@include flexCol(flex-start, flex-start);
		@include box();
		width: 100%;
		max-width: 45rem;
		background-color: $blueDarker;
	}
	&_forgotPassword{
		@include fontSize($fontSizeSmall);
	}
	&_action{
		&_container{
			@include flexRow(flex-end, flex-end);
			width: 100%;
			margin-top: 1rem;
		}
	}
}