/*
 *	Description:    stylesheet for layouts footer
 *	File:    		_footer.scss
 *	Version:        1.0 - 23/11/2019
 *	Author :        Mucht
*/

.footer {
	@include containerFullSpacer();
	@include fontSize($fontSizeTiny);
	background-color: $blueDarker;
	&_wrap {
		@include flexRow(center, center);
		flex: 0 0 auto;
	}
	&_copy {
		margin-bottom: 0;
		text-align: center;
	}
	&_signature {
		&_link {
			@include fontSize($fontSizeTiny);
		}
	}
}