/*
 *	Description:    stylesheet for layouts Toolbar
 *	File:    		_toolbar.scss
 *	Version:        1.0 - 23/11/2019
 *	Author :        Mucht
*/

.toolbar{
	@include containerLateralSpacer();
	background-color: $blueDarker;
	&_wrap{
		@include flexRow(flex-end, center);
	}
	&_brand_container{
		@include flexRow(flex-start, center);
		flex: 1 0 auto;
	}
	&_action_container{
		flex: 0 0 auto;
	}
	&_icon{
		@include size(5rem);
		margin: 2rem 0;
		display: block;
	}
	&_button{
		@include buttonStyle();
	}
	&_dropdown{
		&-container{
			position: relative;
			&:hover .toolbar_dropdown-content{
				display: block;
			}
		}
		&-toggle{
			@include flexRow(flex-end, center);
			padding: 2rem 0;
			color: $white;
			&-name{
				margin-right: 1rem;
			}
		}
		&-content{
			@include dropdown();
		}
	}
	&_avatar{
		&_container{
			@include size(5rem);
			@include flexRow(center, center);
			flex: 0 0 auto;
			border: 0.1rem solid $blueLighter;
			border-radius: 50%;
			background-color: $blueMedium;
			overflow: hidden;
		}
		&_img{
			@include size(100%);
		}
	}
}